@font-face {
  font-family: 'Nexa';
  src: url(/fonts/Nexa-Heavy.ttf);
}

body {
  font-family: 'Nexa';
  background-color: rgb(255, 220, 155);
  margin: 0;
  height: 100%;
}

button {
  background-color: rgba(153, 122, 84, 0.649);
  font-family: 'Nexa';
  font-size: 4vh;
  border-radius: 10vh;
  min-width: 33vh;
  min-height: 10vh;
  padding: 3vh 4vh;
  transition: background-color 0.3s ease, box-shadow 0.2s ease;
  border: none;
  box-sizing: border-box;
  box-shadow: 0vh 3vh 2vh rgba(0, 0, 0, .6);
}

button:hover {
  background-color: rgb(153, 122, 84);
  animation: bounce 0.325s;
  animation-iteration-count: 1;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

button:active {
  background-color: rgba(153, 122, 84, 0.69);
  transform: scale(0.95);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  animation: none;
  transition: 0.07s ease;
}

.back {
  position: fixed;
  display: none;
  font-size: 6vh;
  background: none;
  box-shadow: 0px 0px 0px;
  top: 5%;
  left: 5%;
}

.back:hover {
  background: none;
  box-shadow: 0px 0px 0px;
}

.back:active {
  background: none;
  box-shadow: 0px 0px 0px;
}

.hiddenButtonContainer {
  display: none;
}

#initialButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

#hiddenButtonsContainer {
  z-index: 5;
}

@keyframes bounce {
  0% {
      transform: scale(1);
  }
  25% {
      transform: scale(1.03);
  }
  50% {
      transform: scale(1);
  }
  75% {
      transform: scale(1.01);
  }
  100% {
      transform: scale(1);
  }
}

@keyframes bobAndRotate {
  0%, 100% {
      transform: translateY(0vh) rotate(0deg);
  }
  12.5% {
      transform: translateY(0.25vh) rotate(1deg);
  }
  25% {
      transform: translateY(0.5vh) rotate(2deg);
  }
  37.5% {
      transform: translateY(0.75vh) rotate(1deg);
  }
  50% {
      transform: translateY(1vh) rotate(0deg);
  }
  62.5% {
      transform: translateY(0.75vh) rotate(-1deg);
  }
  75% {
      transform: translateY(0.5vh) rotate(-2deg);
  }
  87.5% {
      transform: translateY(0.25vh) rotate(-1deg);
  }
}

@keyframes gradientTransition {
  0% {
      background-image: linear-gradient(rgb(255, 220, 155) 100%, rgb(122, 98, 69) 0%);
  }
  10% {
      background-image: linear-gradient(rgb(255, 220, 155) 90%, rgb(122, 98, 69) 10%);
  }
  20% {
      background-image: linear-gradient(rgb(255, 220, 155) 80%, rgb(122, 98, 69) 20%);
  }
  30% {
      background-image: linear-gradient(rgb(255, 220, 155) 70%, rgb(122, 98, 69) 30%);
  }
  40% {
      background-image: linear-gradient(rgb(255, 220, 155) 60%, rgb(122, 98, 69) 40%);
  }
  50% {
      background-image: linear-gradient(rgb(255, 220, 155) 50%, rgb(122, 98, 69) 50%);
  }
  60% {
      background-image: linear-gradient(rgb(255, 220, 155) 40%, rgb(122, 98, 69) 60%);
  }
  70% {
      background-image: linear-gradient(rgb(255, 220, 155) 30%, rgb(122, 98, 69) 70%);
  }
  80% {
      background-image: linear-gradient(rgb(255, 220, 155) 20%, rgb(122, 98, 69) 80%);
  }
  90% {
      background-image: linear-gradient(rgb(255, 220, 155) 10%, rgb(122, 98, 69) 90%);
  }
  100% {
      background-image: linear-gradient(rgb(255, 220, 155) 0%, rgb(122, 98, 69) 100%);
  }
}

.gradient-background {
  width: 100%;
  height: 100%;
  animation: gradientTransition 0.1s ease;
  background-image: linear-gradient(rgb(255, 220, 155) 0%, rgb(122, 98, 69) 100%);
}

@keyframes gradientTransition1 {
  0% {
      background-image: linear-gradient(rgb(255, 220, 155) 0%, rgb(122, 98, 69) 100%);
  }
  10% {
      background-image: linear-gradient(rgb(255, 220, 155) 10%, rgb(122, 98, 69) 90%);
  }
  20% {
      background-image: linear-gradient(rgb(255, 220, 155) 20%, rgb(122, 98, 69) 80%);
  }
  30% {
      background-image: linear-gradient(rgb(255, 220, 155) 30%, rgb(122, 98, 69) 70%);
  }
  40% {
      background-image: linear-gradient(rgb(255, 220, 155) 40%, rgb(122, 98, 69) 60%);
  }
  50% {
      background-image: linear-gradient(rgb(255, 220, 155) 50%, rgb(122, 98, 69) 50%);
  }
  60% {
      background-image: linear-gradient(rgb(255, 220, 155) 60%, rgb(122, 98, 69) 40%);
  }
  70% {
      background-image: linear-gradient(rgb(255, 220, 155) 70%, rgb(122, 98, 69) 30%);
  }
  80% {
      background-image: linear-gradient(rgb(255, 220, 155) 80%, rgb(122, 98, 69) 20%);
  }
  90% {
      background-image: linear-gradient(rgb(255, 220, 155) 90%, rgb(122, 98, 69) 10%);
  }
  100% {
      background-image: linear-gradient(rgb(255, 220, 155) 100%, rgb(122, 98, 69) 0%);
  }
}

@keyframes bob {
  0%, 100% {
      transform: translateY(0vh);
  }
  50% {
      transform: translateY(1vh);
  }
}

.gradient-background1 {
  width: 100%;
  height: 100%;
  animation: gradientTransition1 0.1s ease;
  background-image: linear-gradient(rgb(255, 220, 155) 100%, rgb(122, 98, 69) 0%);
}

.hiddenButton {
  will-change: transform;
  transform: translateZ(0);
  animation: bobAndRotate 8s ease-in infinite;
}

.content-section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vh;
}

.my-p.bounce{
  animation: bob 4s ease-in-out infinite;
}
.my-img.bounce{
  animation: bob 4s ease-in-out infinite;
}